body{
  background-color:rgb(225, 210, 184);
}

h2{
  font-family: 'Niconne', cursive;
  font-size: 36px;
}

.navbar-brand{
  font-family: 'Niconne', cursive;
  margin-left: 1vw;
}

nav.navbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 1vw;
}

.book-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 1rem auto;
  background-color: rgb(225, 210, 184);
  border-style: none;
}
.card-text{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.card-img{
  width: 18rem;
  height: 24rem;
  margin-top: 2rem;
  box-shadow: 3px 3px 5px 6px rgba(43, 43, 43, 0.3);
  transition: 0.7s ease;
}
.card-img:hover{
  box-shadow: 0 10px 20px rgba(0, 0, 0);
}
.best-books-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.edit-buttons-container{
  display: flex;
  justify-content: space-evenly;
}

.carousel{
  width: auto;
}
.card-text{
  width: 18rem;
}

.carousel-control-next-icon,
.carousel-control-prev-icon{
  background-image: none;
}
.carousel-indicators{
  display: none;
}

.about-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 10vh 0;
}